@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header > h1 {
    color: white;
    font-size: 1.7em;
}

nav > a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

nav > a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

nav > a:hover::after {
    transform: scaleX(1);
}

section.texto {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(imagens/background.jpg) no-repeat;
    background-size: cover;
    background-position: center -170px;
    display: flex;
    align-items: center;
    padding: 80px 100px 0px;
}

section.texto > div.paragrafo {
    max-width: 600px;
    color: white;
}

section.texto > div.paragrafo > h2 {
    color: brown;
    font-size: 3.2em;
    letter-spacing: .06em;
    font-weight: bold;
}